<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Page</title>
    <link rel="stylesheet" href="/pageNotFound.css">
</head>
<body>
    <div class="error-container">
        <h1 class="error-title">Error Page</h1>
        <p class="error-message">Some error has occurred, try again later.</p>
        <a href="/" class="home-button">Go Home</a>
    </div>
</body>
</html>
